include ../../utils/mixins
// footer
footer.footer
    .container
        .footer__list
            // footer item 1
            .footer__item
                +footerMenu(
                    "Thông tin",
                    arrFooterThongTin,
                    "#"
                )
            // footer item 2
            .footer__item
                +footerMenu(
                    "Mua hàng",
                    arrFooterMuaHang,
                    "#"
                )
            // footer item 3
            .footer__item
                h1.footer__title Gửi email
                .footer__menu
                    p.footer__description Gửi email cho chúng tôi để được hộ trở
                    .footer__email
                        input(type="email" placeholder="Enter your email" class="footer__input-email")
                        a(href="#" class="footer__link") Gửi
                    .footer__social
                        img(src="../dist/images/icon-twitter.png", alt="twitter" class="footer__social-link")
                        img(src="../dist/images/icon-g+.png", alt="g+" class="footer__social-link")
                        img(src="../dist/images/icon-w.png", alt="w" class="footer__social-link")
                        img(src="../dist/images/icon-in.png", alt="in" class="footer__social-link")
                        img(src="../dist/images/icon-wi.png", alt="wi" class="footer__social-link")
            // footer item 4
            .footer__item
                h1.footer__title Liên hệ
                img(src="../dist/images/icon-address.png", alt="addres")
                span Tầng 4, Tòa nhà Hanoi Group Số 442 Đội Cấn,
                    br
                    | P. Cống Vị, Q. Ba Đình, Hà Nội
                br
                img(src="../dist/images/icon-fax.png", alt="fax")
                span (04) 6674 2332 - 
                    img(src="../dist/images/icon-fax.png", alt="fax")
                    span (04) 3786 8904
                br
                img(src="../dist/images/icon-phone.png", alt="phone")
                span (04) 6674 2332 - 
                    img(src="../dist/images/icon-email.png", alt="email")
                    span (04) 3786 8904
                            