@font-face {
    font-family: 'Lobster-Regular';
    src: url(./fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: 'UTM-Aquarelle';
    src: url(./fonts/UTM-Aquarelle.ttf);
}

@font-face {
    font-family: 'UVF-Didot';
    src: url(./fonts/UVF-Didot.ttf);
}

@font-face {
    font-family: 'Times-New-Roman';
    src: url(./fonts/times.ttf),
        url(./fonts/timesbd.ttf),
        url(./fonts/timesbi.ttf),
        url(./fonts/timesi.ttf);
}

@font-face {
    font-family: 'UTM-Caviar';
    src: url(./fonts/UTM-Caviar.ttf);
}