// Colors
$color-gray: #4f4f51;
$color-black: #000000;
$color-white: #ffffff;
$color-yellow: #d29e41;
$color-green: #62af26;
$color-red: #ed301c;

// Sizes
$base-font-size: 62.5%;

$breakpoints: (
  "phone"       : 400px,
  "phone-wide"  : 480px,
  "phablet"     : 560px,
  "tablet-small": 640px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);

$content-size: 1024px;

// Fonts
$font-primary: 'Times-New-Roman', sans-serif;
$font-head: 'UTM-Aquarelle', sans-serif;
$font-head2: 'UVF-Didot', sans-serif;
$font-head3: 'Lobster-Regular', sans-serif;