extends template/main

block variables
	- var title = 'Blog'
	- var pageClass = 'blog-page'

block append header
	include modules/header/slide

block content
	include pages/blog-page
	include pages/brand