extends template/main

block variables
	- var title = 'Hello'
	- var pageClass = 'index-page'

block append header
	include modules/header/slide

block content
	include pages/intro
	include pages/product-new
	include pages/product-hot
	.container
		.blog-customer
			include pages/blog
			include pages/customer
	include pages/brand

