extends template/main

block variables
	- var title = 'Đăng nhập'
	- var pageClass = 'login-page'

block append header
	include modules/header/slide

block content
	include pages/login
	include pages/brand