include ../utils/mixins
// blog
article.blog
    .container
        h1.title__item Tin tức & Blog
        .blog__list
            // blog item 1
            +blog(
                blogHome
            )



