include ../utils/mixins
// blog
article.blog
    .container
        h1.title__item Tin tức & Blog
        .blog__list
            // blog item 1
            +blog(
                "../dist/images/blog-1.jpg",
                "img",
                "Vang thang long classic",
                "Đăng bởi Giangle",
                "30/06/2015",
                "60 bình luận",
                "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...",
                "Read more"
            )
            // blog item 2
            +blog(
                "../dist/images/blog-1.jpg",
                "img",
                "Vang thang long classic",
                "Đăng bởi Giangle",
                "30/06/2015",
                "60 bình luận",
                "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...",
                "Read more"
            )


