include ../utils/mixins
// brand
article.brand
    .container
        .brand__list
            .brand__item
                img(src="../dist/images/brand-1.jpg", alt="brand")
            .brand__item
                img(src="../dist/images/brand-2.jpg", alt="brand")
            .brand__item
                img(src="../dist/images/brand-3.jpg", alt="brand")