// intro
article.intro
    .container
        .intro__bg-left
        .intro__bg-right
        .intro__content
            h1.title__item Giới thiệu
            p.intro__description Mriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faciteorum claritatem. Investigtiones demonstraverunt lectores legere me lius quod ii legunt saepius.Claritas est etiam processus dynamicus,qui sequitur mutationem consuetudium ctorum. Mirum est notare quam littera gothica, quam nunc putam
            a.button__click Xem thêm
        .intro__bg-main
            .intro__bg-image
            .intro__wine
                .intro__left
                    .product__container-1
                        img(src="../dist/images/product-sale.png", alt="product-sale" class="product__status")
                    .product__image-large
                        .product__container-img
                            img(src="../dist/images/product-intro.jpg", alt="product-intro" class="product__image")
                .intro__right
                    h1.product__title Rượu nho năm 1987
                    h3.product__price 330.000
                        sup.product__unit đ
                    a.button__click Add to cart
                    p.product__description Một hợp chất có trong rượu vang được gọi là resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ ôxy hoá của protein béo.
                    .product__sale
                        .product__sale--item
                            h3.product__sale-title 334
                            p.product__sale-des Ngày
                        .product__sale--item
                            h3.product__sale-title 26
                            p.product__sale-des Giờ
                        .product__sale--item
                            h3.product__sale-title 60
                            p.product__sale-des Phút
                        .product__sale--item
                            h3.product__sale-title 15
                            p.product__sale-des Giây
                        
