// intro post
include ../utils/mixins

article.intro-post
    .container
        +pageIndex(
            wineRed
        )
        .intro__post
            h1.product__title.arrow Giới thiệu
            .intro__post-list
                .intro__post-image
                    img(src="../dist/images/bg-intro.jpg", class="intro__img"  alt="bg intro")
                .intro__post-content
                    h1.intro__title Chào mừng đến với wine hourse 
                    p.intro__description.
                        Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...
                
                                