include ../utils/mixins
// product-hot
article.product-hot
    .container
        h1.title__item Sản phẩm bán chạy
        .product
            // product-back
            .product__back
                img(src="../dist/images/arrow-left.png", alt="arrow-left" class="product__arrow-left")
            // product-list
            .product__list
                +products(
                    product,
                    "yes"
                )
            // product-next
            .product__next
                img(src="../dist/images/arrow-right.png", alt="arrow-right" class="product__arrow-right")