include ../../utils/mixins
// menu
nav.menu
    img(src="../dist/images/logo.png", alt="logo" class="menu__logo")
    +menu(
        menuList,
        "menu__list",
        "menu__item",
        "yes"
    )(class= "menu__link")
    


