// blog

.blog-customer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 585px;
    grid-column-gap: 40px;
    margin-top: 45px;
    margin: 100px 0;
}

.blog-customer .title__item {
    margin-bottom: 45px;
}

.blog__list {
    display: flex;
    justify-content: flex-start;
}

.blog__item {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    &:first-child {
        margin-right: 30px;
    }
}

.blog__container-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    &:hover .blog__hover, &:hover .blog__hover-3  {
        visibility: visible;
    }
    // &:hover .blog__hover-3 {
    //     visibility: visible;
    // }
}

.blog__hover {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 230px solid rgba(217, 221, 216, 0.4);
    border-left: 375px solid transparent;
    position: absolute;
    visibility: hidden;
}

.blog__hover-1 {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.blog__hover-3 {
    visibility: hidden;
}

.blog__hover-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 50%;
}


.blog__img {
    max-width: 100%;
    z-index: -99;
    cursor: pointer;
    
}

.blog__title {
    font-size: 18px;
    text-transform: uppercase;
    color: #303030;
    margin-top: 25px;
    &:hover {
        color: $color-yellow;
    }
}

.blog__info {
    width: 100%;
    display: flex;
}

.blog__author, .blog__date, .blog__comment {
    font-size: 12px;
    color: #c1c1c1;
    margin-top: 10px;
    &:not(:last-child)::after {
        content: "|";
        width: 5px;
        height: 20px;
        padding: 0 5px;
    }
}

.blog__description, .customer__description {
    font-size: 14px;
    color: #818181;
    margin: 15px 0 10px 0;
}

.blog__link, .customer__link {
    font-size: 14px;
    color: #a7a7a7;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
