// brand

.brand__list {
    width: 100%;
    height: 165px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.brand__item {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(2) {
        border-left: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
    }
}

.brand__image {
    max-width: 100%;
}

