// intro
.intro__bg-left {
    position: absolute;
    top: -78px;
    left: 0;
    z-index: -9999;
    width: 532px;
    height: 489px;
    background-image: url(../images/bg-intro-left.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}
.intro__bg-right {
    position: absolute;
    top: -107px;
    right: 0;
    z-index: -9999;
    width: 180px;
    height: 489px;
    background-image: url(../images/bg-intro-right.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}

.intro {
    margin-top: 95px;
    width: 100%;
    height: auto;
    &__content {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    &__description {
        width: 100%;
        height: auto;
        display: inline-block;
        margin: 20px 0;
        font-size: 1.6rem;
        line-height: 22px;
        color: $color-gray;
    }
    &__bg-main {
        margin-top: 100px;
        width: 100%;
        height: 1000px;
        overflow: hidden;
        position: relative;
    }
    &__bg-image {
        position: absolute;
        z-index: -999;
        top: 0;
        left: 0;
        width: 100%;
        height: 714px;
        background-image: url(../images/bg-intro.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }
    &__wine {
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 99;
        // top: 345px;
        top: 65%;
        left: 50%;
        width: 945px;
        height: 769px;
        padding: 95px;
        background: $color-white;
        transform: translate(-50%, -50%);
    }
    &__left {
        width: 60%;
        height: 570px;
    } 
    & .product__image-large {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .product__container-img {
        width: 182px;
        height: 461px;
    }
    & .product__image {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
    &__right {
        width: 40%;
        height: 570px;
        & .button__click {
            margin-top: 20px;
        }
    } 
    & .product__title {
        margin-top: 0;
        font-size: 2.4rem;
        &:first-child::after {
            content: url(../images/border-bottom-2.png);
            display: block;
        }
    }
    & .product__price {
        font-family: $font-sale;
        margin-top: 35px;
        color: $color-yellow;
        font-size: 3.4rem;
    }
    & .product__description {
        margin-top: 25px;
        color: $color-gray;
        font-size: 1.3rem;
        line-height: 18px;
    }

}

.product__sale {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 88px);
    align-items: center;
    text-align: center;
    color: $color-yellow;
    margin-top: 50px;
    &--item {
        border: 1px solid $color-yellow;
        width: 100%;
        height: 100%;
        padding: 10px;
        &:first-child {
            border-bottom-width: 0;
        }
        &:nth-child(2) {
            border-left-width: 0;
            border-bottom-width: 0;
        }
        &:last-child {
            border-left-width: 0;
        }
    }
    &-title {
        font-size: 3.4rem;
        font-family: $font-sale;
    }
    &-des {
        font-size: 1.4rem;
        text-transform: uppercase;
    }
}

