@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
// product

.product {
    width: 100%;
    display: grid;
    grid-template-columns: 15px 1fr 15px;
    justify-items: center;
    align-items: center;
    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 15px;
        align-items: center;
        justify-items: center;
    }
    &__item {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 30px 1fr;
        align-items: center;
        justify-items: center;
        // &:not(:first-child) {
        //     margin-left: 30px
        // }
        &:hover .product__hover {
            visibility: visible;
        }
        &:hover .button__click {
            background: $color-yellow;
        }
        &:hover .product__title {
            color: $color-yellow;
        }
    }
    &__hover {
        display: flex;
        width: 100%;
        height: 25px;
        background: black;
        color: white;
        justify-content: space-around;
        align-items: center;
        visibility: hidden;
        &-img {
            display: flex;
            align-items: center;
        }
    }
    &__info-hover {
        margin-left: 10px;
        font-size: 14px;
        color: $color-gray;  
    }
    &__container-1 {
        position: relative;
        width: 100%;  
    }
    &__status {
        position: absolute;
        left: 0;
        top: 0;
    }&__container-img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__image {
        max-width: 100%;
        height: 100%;
    }
    &__title {
        font-size: 14px;
        font-weight: 400;
        color: $color-black;
        text-transform: uppercase;
    }
    &__price {
        font-family: $font-sale;
        color: $color-yellow;
        font-size: 21px;
    }
    &__price-origin {
        font-family: $font-sale;
        color: $color-gray;
        font-size: 14px;
        text-decoration: line-through;
    }
    &__description {
        margin-top: 27px;
        color: $color-gray;
        font-size: 14px;
        line-height: 18px;
    }
    & .button__click {
        cursor: pointer;
    }

}

.product__container-2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.product__description {
    display: none;
}
