// Medium devices (tablets, 768px and up)
// header
@media (max-width: 767.98px) { 
    .container {
        padding: 0 30px;
    }
    .slide, .slide__background {
        display: none;
    }
    // header
    .menu-nav__bg {
        height: 60px;
        z-index: -99;
    }
    .menu__bg {
        height: 200px;
        top: 60px;
    }
    .menu-top {
        justify-content: center;
        height: 60px;
        padding: 5px;
    }
    .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .dropmenu__list {
        grid-template-columns: 1fr 1fr;
    }
    // intro-fix
    .intro__bg-left {
        display: none;
    }
    .intro__wine {
        width: 80%;
        padding: 20px;
    }
    // intro-post
    .intro__post-list {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .intro__post-image {
        width: 100%;
        height: 100%;
    }

    // product
    .product__list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    // product-sort
    .product__link-love {
        grid-template-columns: 1fr;
        grid-template-rows: 50px 50px;
        justify-items: center;
    }
    .sort__container-image {
        align-items: start;
    }
    .sort__image {
        height: 50%;
    }
    // product-cart
    .product__cart .product__image {
        max-width: 50%;
    }
    .product__cart .cart__button {
        justify-content: center;
    }

    // order-page
    .order__content {
        grid-template-columns: 1fr;
    }
    .order__right {
        grid-row-start: 1;
    }
    .order__link::after {
        content: "|";
        position: absolute;
        top: 0;
        left: 0;
    }
    .order__list .cart__title {
        font-size: 1rem;
    }
    .order__link, .item__title {
        font-size: 1.2rem;
    }
    

    // blog
    .blog-customer {
        grid-template-columns: 1fr;
    }
    .blog-page .blog__list {
        grid-template-columns: 1fr 1fr;
    }

    // blog-post
    .post__item .blog__list {
        grid-template-rows: 1fr;
    }
    .post__item .blog__item {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .post__right .blog__container-img {
        width: 100%;
        height: 100%;
    }
    .post__right .pagination {
        justify-content: center;
    }

    // address
    .address__content {
        grid-template-columns: 1fr;
        
    }
    // contact-page
    .contact__content {
        grid-template-columns: 1fr;
    }
    .contact__map {
        width: 100%;
        height: 100%;
        & img {
            max-width: 100%;
        }
    }
    .contact__left{ 
        grid-template-rows: auto 1fr;
    }
    .contact__right {
        grid-row-start: 1;
        grid-row-gap: 30px;
        margin-bottom: 30px;
    }


    // footer 
    .footer__list {
        grid-template-columns: 1fr 1fr;
        padding-left: 20px;
    }


 }

// Extra small devices (portrait phones, less than 576px)
 @media (max-width: 575.98px) { 
    .product__back, .product__next {
        display: none;
    }
    .intro .container {
        padding: 0 30px;
    }
    .product__grid  {
        padding: 0 30px;
    }
    .intro__bg-main {
        height: 600px;
    }
    .intro__bg-image {
        display: none;
    }
    .product-new .product-hot, .container {
        padding: 0;
    }
    .intro__wine {
        width: 100%;
    }
    .product {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        border: none;
        padding: 5px;
        overflow-x: scroll;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            width: 5px;
            height: 10px;
            opacity: 0.5;
            // background: blue;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background-color: $color-yellow;
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 10px $color-gray;
            border-radius: 10px;
        }
    }

    .product__list {
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: 1fr;
    }
    .product__grid-list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
    }
    .blog {
        text-align: center;
        padding: 0 30px
    }
    .blog-customer {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .blog__list {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 30px;
        justify-items: center;
    }
    .blog__item {
        margin: 0;
        justify-items: center;
        align-items: center;
    }
    .blog__info {
        width: 100%;
        justify-content: center;
    }
    .customer {
        padding: 0 30px;
    }
    .footer {
        text-align: center;
    }
    .footer__list {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    // menu toggle
    .toggle {
        font-size: 40px;
        color: white;
        display: block;
        
    }
    .menu {
        justify-content: space-around
    }
    .menu__list {
        display: none;
    }
    .menu__bg {
        height: 140px;
    }
    #drop:checked + .menu__list {
        display: block;
        background: black;
    }
    .dropmenu__content {
        display: none;
    }
}
